@import url(root.css);

body {
    background-color: var(--grey);
    margin: 0; /* Évite les marges par défaut du body */
}


.right{
    text-align: left;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ajuste pour centrer verticalement */
}

.login-container {
    text-align: center;
    padding: 40px;
}

.user-icon {
    width: 150px;
    margin-bottom: 160px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -100px;
}

label {
    text-align: left;
    width: 100%;
    color: var(--white);
    font-size: 1.5rem;
    margin-bottom: 5px;
}

input {
    
    padding: 20px;
    margin-bottom: 30px;
    border: none;
    border-radius: 8px;
    background-color: var(--white);
}

.button1 {
    background-color: var(--yellow);
    color: var(--black_f);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
}

.button1:hover {
    background-color: var(--yellow);
}

.register-link {
    margin-top: 60px;
    font-size: 1rem;
    color: var(--white);
}

.register-link a {
    color: var(--white);
    text-decoration: underline;
}

.clic{
    width: 20px;
}