:root {
    --grey: #373737;
    --darker-grey: #2B2B2B;
    --yellow: #FFCF30;
    --yellow2: #af923f;
    --white: #DEDEDE;
    --white2: #ffffff;
    --black: rgba(0, 0, 0, 0.5);
    --black_f: #000000;
    --light-grey: #D9D9D9;
    --card-bg: #373737;
    --input-bg: #D9D9D9;
}

/* Styles pour l'icône du panier et le compteur */
.cart-link {
    position: relative;
    display: inline-block;
}

.cart-counter {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--yellow);
    color: var(--black_f);
    font-size: 0.7rem;
    font-weight: bold;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
