/* Style pour l'icône "œil" */
.icone-oeil {
    cursor: pointer;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Style pour le compteur de caractères */
.compteur-caracteres {
    font-size: 0.8rem;
    color: #666;
    display: block;
    text-align: right;
    margin-top: 5px;
}

/* Style pour les messages d'erreur */
.message-erreur {
    color: var(--yellow);
    font-size: 0.8rem;
    margin-top: 5px;
}
